@model IEnumerable<Quizilla.Models.ResultViewModel>

@{
    ViewBag.Title = "My Quizzes";
    int RowNo = 0;
}

<style>
    input[type="search"]::-webkit-search-cancel-button {
        -webkit-appearance: searchfield-cancel-button;
    }
</style>

<h2>My Quizzes</h2>

@if (Model.Count() == 0 && ViewBag.Error == null)
{
    <div style="font-size: medium;">You haven't attempted any quiz yet.</div>
}
@if (Model.Count() == 0 && ViewBag.Error != null)
{
    <div style="font-size: medium;">@ViewBag.Error</div>
    <div>
        @Html.ActionLink("Back", "MyQuizzes", null, new { @class = "btn btn-primary" })
    </div>
}
else if (Model.Count() != 0 && ViewBag.Error == null)
{
    <form method="get" id="form">
        <div class="row" style="margin-bottom: 16px;">
            <p class="col-md-2">
                <a href="~/Result/MyQuizzes" class="btn btn-success">
                    <span class="glyphicon glyphicon-refresh"></span> Refresh
                </a>
            </p>
            <div class="col-md-10 input-group">
                <input style="float: right;" type="search" name="search" id="search" class="form-control" placeholder="Search" />
                <span class="input-group-btn">
                    <button style="max-height: 34px;" type="submit" class="btn btn-success"><i class="glyphicon glyphicon-search"></i></button>
                </span>
            </div>
        </div>
    </form>

    <table class="table table-bordered table-responsive table-condensed">
        <tr>
            <th>
                S#
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quiz)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                Teacher
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ObtainedMarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaximumMarks)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{
                        RowNo++;
                    }
                    @RowNo
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quiz)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student)
                </td>
                <td>
                    @item.Date.ToString("dd-MMM-yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ObtainedMarks)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaximumMarks)
                </td>
            </tr>
        }
    </table>
}

@section Scripts {
    <script>
        $('#form').submit(function () {
            if ($.trim($("#search").val()) === "") {
                alert('Please enter some value to search');
                return false;
            }
        });
    </script>
}